.sortable {
    cursor: pointer;
    color: antiquewhite;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

table {
  color: black;
  border-radius: 5px;
  border-color: antiquewhite;
  box-shadow: 5px 5px 8px 5px black;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
  cursor: crosshair;
}   

.header-row {
    background: #010d1a;
    color: burlywood;
}

th, td {
    text-align: center;
    margin: 5px 10px;
    padding: 10px;
}


.warning {
    background: rgb(73, 12, 12);
    animation: blinker 2s linear infinite;
    color: burlywood;
}

@keyframes blinker {
    30% {
      opacity: 0;
    }
  }

h3 {
    color: burlywood;
    text-align: center;
    text-shadow: 3px 5px 3px black;
}